

<h1 class="welcome">WELCOME</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<h2 class="info">Go to the links and fill the details</h2>
  <div class="list">
   
      <a routerLink="/"   routerLinkActive="active"></a>
      <button  type="button" class="btn-lg btn-success btn1"><a class="linkcolor" routerLink="/personal" >Person Details</a></button>
      <button  type="button" class="btn-lg btn-success btn1"><a class="linkcolor" routerLink="/address" >Address Details</a></button>
        <button  type="button" class="btn-lg btn-success btn1"><a  class="linkcolor" routerLink="/education" >Education Details</a></button>
          <button  type="button" class="btn-lg btn-success btn1"><a class="linkcolor" routerLink="/review" >Review </a></button>

      
   
  </div>


